@model WebApplication1.Models.Usuario
@using YoureOnGenNHibernate.EN.YoureOn;

<div>
    <h4>Usuario @Html.DisplayFor(model => model.Email)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NIF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NIF)
        </dd>
    </dl>

    @{
        foreach (FaltaEN f in ViewBag.ListaF)
        {
            <p>Fecha: @f.Fecha - Tipo: @f.TipoFalta</p>
        }
    }

</div>