@model YoureOnBootsTrap.Models.ContenidoYComentarios

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Contenido</h4>
    <hr />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <img src="@Html.DisplayFor(model => model.Ruta)" />
            </div>
            <div class="col-sm-5">
                <div class="row">
                    <p><b>Título: </b>@Model.Titulo</p>
                    <p><b>Autor: </b>@Model.Autor</p>
                    <p><b>Descripción: </b>@Model.Descripcion</p>
                    <p><b>Licencia: </b>@Model.Licencia</p>
                    <p><b>Tipo: </b>@Model.Tipo</p>
                </div>
                <div class="row">
                    <div class="form-group">
                        @Html.EditorFor(model => model.Comentarios, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Comentarios, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

