@model IEnumerable<YoureOnBootsTrap.Models.Contenido>

<h2>Mis contenidos</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Licencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Licencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
    </tr>
}

</table>
