@model IEnumerable<YoureOnBootsTrap.Models.Contenido>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-3">
            <a href="@Url.Action("Details", "Contenido", new { id = Model.ElementAt(0).Id })"><img height="200" width="200 " src="@Html.DisplayFor(model => model.ElementAt(0).Ruta)" /></a>
            <p><b>Título: </b>@Model.ElementAt(0).Titulo</p>
            <p><b>Autor: </b>@Model.ElementAt(0).Autor</p>
            <p><b>Descripción: </b>@Model.ElementAt(0).Descripcion</p>
            <p><b>Licencia: </b>@Model.ElementAt(0).Licencia</p>
            <p><b>Tipo: </b>@Model.ElementAt(0).Tipo</p>
        </div>
        <div class="col-sm-3">
            <a href="@Url.Action("Details", "Contenido",  new { id = Model.ElementAt(1).Id })"><img height="200" width="200 " src="@Html.DisplayFor(model => model.ElementAt(1).Ruta)" /></a>
            <p><b>Título: </b>@Model.ElementAt(1).Titulo</p>
            <p><b>Autor: </b>@Model.ElementAt(1).Autor</p>
            <p><b>Descripción: </b>@Model.ElementAt(1).Descripcion</p>
            <p><b>Licencia: </b>@Model.ElementAt(1).Licencia</p>
            <p><b>Tipo: </b>@Model.ElementAt(1).Tipo</p>
        </div>
        <div class="col-sm-3">
            <a href="@Url.Action("Details", "Contenido",  new { id = Model.ElementAt(2).Id })"><img height="200" width="200 " src="@Html.DisplayFor(model => model.ElementAt(2).Ruta)" /></a>
            <p><b>Título: </b>@Model.ElementAt(2).Titulo</p>
            <p><b>Autor: </b>@Model.ElementAt(2).Autor</p>
            <p><b>Descripción: </b>@Model.ElementAt(2).Descripcion</p>
            <p><b>Licencia: </b>@Model.ElementAt(2).Licencia</p>
            <p><b>Tipo: </b>@Model.ElementAt(2).Tipo</p>
        </div>
        <div class="col-sm-3">
            <a href="@Url.Action("Details", "Contenido",  new { id = Model.ElementAt(3).Id })"><img height="200" width="200 " src="@Html.DisplayFor(model => model.ElementAt(3).Ruta)" /></a>
            <p><b>Título: </b>@Model.ElementAt(3).Titulo</p>
            <p><b>Autor: </b>@Model.ElementAt(3).Autor</p>
            <p><b>Descripción: </b>@Model.ElementAt(3).Descripcion</p>
            <p><b>Licencia: </b>@Model.ElementAt(3).Licencia</p>
            <p><b>Tipo: </b>@Model.ElementAt(3).Tipo</p>
        </div>

    </div>
</div>
<h2 class="registrate">¿Aún no estás registrado?</h2>
<p class="unete">Únete a la comunidad de YoureOn</p>

<a href= "/Account/Register"><input type="button" class="boton_registro" value="Registrarse" /></a>
