@model IEnumerable<WebApplication1.Controllers.ContenidoController>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3"><img src="@Url.Content("~/Archivos/foto1.jpg")" /></div>
        <div class="col-sm-3"><img src="@Url.Content("~/Archivos/foto2.jpg")" /></div>
        <div class="col-sm-3"><img src="@Url.Content("~/Archivos/foto3.jpg")" /></div>
        <div class="col-sm-3"><img src="@Url.Content("~/Archivos/foto4.jpg")" /></div>

    </div>
</div>

<h2 class="registrate">¿Aún no estás registrado?</h2>
<p class="unete">Únete a la comunidad de YoureOn</p>

<input type="button" class="boton_registro" value="Registrarse" />