@model IEnumerable<MvcApplication1.Models.Contenido>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Licencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Autor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnBibioteca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ruta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FCreacion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Licencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnBibioteca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ruta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FCreacion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<!--<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3"><img src="Url.Content("~/Archivos/foto1.jpg")" /></div>
        <div class="col-sm-3"><img src="Url.Content("~/Archivos/foto2.jpg")" /></div>
        <div class="col-sm-3"><img src="Url.Content("~/Archivos/foto3.jpg")" /></div>
        <div class="col-sm-3"><img src="Url.Content("~/Archivos/foto4.jpg")" /></div>

    </div>
</div>

<h2 class="registrate">¿Aún no estás registrado?</h2>
<p class="unete">Únete a la comunidad de YoureOn</p>

<input type="button" class="boton_registro" value="Registrarse" />-->
